<!--<h1 class="nomeRepositorio">{{repositoryList[11].name}}</h1>
<p class="nomeRepositorio">{{repositoryList[11].description}}</p>
<div class="nomeRepositorio">{{repositoryList[11].languages_url}}</div>
<span class="nomeRepositorio">{{repositoryList[11].html_url}}</span>


<h1 class="nomeRepositorio">{{repositoryList[10].name}}</h1>
<p class="nomeRepositorio">{{repositoryList[10].description}}</p>
<div class="nomeRepositorio">{{repositoryList[10].languages_url}}</div>
<span class="nomeRepositorio">{{repositoryList[10].html_url}}</span>

<h1 class="nomeRepositorio">{{repositoryList[12].name}}</h1>
<p class="nomeRepositorio">{{repositoryList[12].description}}</p>
<div class="nomeRepositorio">{{repositoryList[12].languages_url}}</div>
<span class="nomeRepositorio">{{repositoryList[12].html_url}}</span>


<div class="projetos" *ngIf="repositoryList.length > 0">
    <h2>{{repositoryList[0].name}}</h2>
    <p>{{repositoryList[0].description}}</p>
    <p>{{repositoryList[0].html_url}}</p>
    <p>{{repositoryList[0].languages_url}}</p>

</div>
-->


<div class="row row-col-2 g-3">
    <div class="col">
        <div class="card" style="width: 18rem; ">
            <img src="../../../assets/img/tata-landinpage.jpg" class="card-img-top" alt="...">
            <h4 class="card-header">Tatá Recreação</h4>
            <div class="card-body">
                <h5 class="card-title">JavaScript</h5>
                <h6>Angular</h6>
                <p>Essa Land-Page é para a apresentação da Tatá Recreação Infantil e Eventos | Guarulhos (FreeLancer)</p>
                <a href="https://tata-recreacao.vercel.app/" target="_blank" class="btn btn-primary">Visite o Projeto</a>
                <a href="https://github.com/brunolk1/projeto-recreacao" target="_blank" class="btn btn-primary">Visite o GitHub</a>
            </div>
        </div>
    </div>
    
   <!-- <div class="col">
        <div class="card" style="width: 18rem; ">
            <img src="../../../assets/img/tata-landinpage.jpg" class="card-img-top" alt="...">
            <h4 class="card-header">Tatá Recreação</h4>
            <div class="card-body">
                <h5 class="card-title">JavaScript</h5>
                <h6>Angular</h6>
                <p>Essa Land-Page é para a apresentação da Tatá Recreação Infantil e Eventos | Guarulhos (FreeLancer)</p>
                <a href="https://tata-recreacao.vercel.app/" target="_blank" class="btn btn-primary">Visite o Projeto</a>
                <a href="https://github.com/brunolk1/projeto-recreacao" target="_blank" class="btn btn-primary">Visite o GitHub</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem; ">
            <img src="../../../assets/img/tata-landinpage.jpg" class="card-img-top" alt="...">
            <h4 class="card-header">Tatá Recreação</h4>
            <div class="card-body">
                <h5 class="card-title">JavaScript</h5>
                <h6>Angular</h6>
                <p>Essa Land-Page é para a apresentação da Tatá Recreação Infantil e Eventos | Guarulhos (FreeLancer)</p>
                <a href="https://tata-recreacao.vercel.app/" target="_blank" class="btn btn-primary">Visite o Projeto</a>
                <a href="https://github.com/brunolk1/projeto-recreacao" target="_blank" class="btn btn-primary">Visite o GitHub</a>
            </div>
        </div>
    </div>-->
</div>

